* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f6fa;
  font-family: "Poppins", sans-serif;
  color: #2c2c2c;
}

.pos-container {
  min-height: 100vh;
}

.header-pos {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 14px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* izquierda */
.header-left h1 {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.sucursal {
  font-size: 12px;
  color: #6b7280;
}

/* derecha */
.header-right {
  display: flex;
  gap: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.label {
  font-size: 11px;
  color: #9ca3af;
}

.value {
  font-size: 14px;
  font-weight: 500;
  color: #111827;
} 

.header-pos h1 {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 4px;
}

.header-pos p {
  font-size: 13px;
  color: #6b7280;
}
.pos-main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* columnas */
.pos-left {
  flex: 2;
}

.pos-right {
  flex: 1;
}

.buscador {
  margin-bottom: 20px;
}

.buscador input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.lista-productos h2,
.carrito h2 {
  margin-bottom: 15px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #e5e7eb;
}

.carrito {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #e5e7eb;
  height: fit-content;
}

.producto-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #e5e7eb;
  transition: 0.2s;
}

.producto-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.producto-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.producto-card p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 12px;
}

.producto-card button,
.carrito button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #6f8ee2;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.producto-card button:hover,
.carrito button:hover {
  background: #6f8ee2;
}


@media (max-width: 768px) {
  .pos-main {
    flex-direction: column;
  }

  .pos-left,
  .pos-right {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .productos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .productos-grid {
    grid-template-columns: 1fr;
  }
}